<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>donate</title>
	<link type="text/css" rel="stylesheet" href="../css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>


</head>
<body>

<div class="container">
	<header>
		<div class="headerWrap">
			<h1 class="logo">
				<a href="/">
					<img src="../img/img_logo.png" alt="로고"/>
				</a>
			</h1>
			<nav>
				<a href="#none" class="searchBtn"><i class="ic ic_search"></i></a>
				<a href="#none" class="alarmBtn"><i class="ic ic_alarm"></i></a>
			</nav>
		</div>
	</header>

	<div class="contents">
		<section class="topTabs">
			<ul class="tabsList">
				<li class="on"><a href="/page1">자율 장학금</a></li>
				<li><a href="/page2-1">크라우드 펀딩</a></li>
				<li><a href="/page3">마이페이지</a></li>
			</ul>
		</section>
		<section class="scholarship">
			<div class="headBox">
				<span class="comma left">
					<img src="../img/ic_comma_left.png" alt="이미지">
				</span>
				<span class="txt">블록체인 장학금</span>
				<span class="comma right">
					<img src="../img/ic_comma_right.png" alt="이미지">
				</span>
			</div>
			<div class="scholarshipInfoGroup">
				<div class="imgBox">
					<img src="../img/선배장학금.PNG" alt="이미지">
				</div>
				<div class="conBox">
					<div class="labelBox">
						<span class="label">20년 05월 12일 마감</span>
					</div>
					<div class="titBox">블록체인 장학금</div>
					<div class="txtBox">
						<div class="subject"><i class="ic ic_target"></i><span class="nm">대상</span></div>
						<div class="con">
							<div class="txt">성균관대학교 재학생이면 누구나</div>
						</div>
					</div>
					<div class="txtBox">
						<div class="subject"><i class="ic ic_doc"></i><span class="nm">대상</span></div>
						<div class="con">
							<div class="txt">자기소개서<br/>
								프로젝트 기획서<br/>
								기타 활동 증명서 및 포트폴리오</div>
						</div>
					</div>
				</div>
			</div>

			<div class="menuBox">
				<a href="javascript:openWindowPop('/support', 'popup');" class="menuBtn col_pink">지원하기</a>
				<a href="javascript:openWindowPop('/application', 'popup');" class="menuBtn col_blue">신청하기</a>
			</div>
		</section>
	</div>

</div>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/popup.js"></script>

</body>
</html>