<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>donate</title>
	<link type="text/css" rel="stylesheet" href="../css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>


</head>
<body>

<div class="container">
	<header>
		<div class="headerWrap">
			<h1 class="logo">
				<a href="/">
					<img src="../img/img_logo.png" alt="로고"/>
				</a>
			</h1>
			<nav>
				<a href="#none" class="searchBtn"><i class="ic ic_search"></i></a>
				<a href="#none" class="alarmBtn"><i class="ic ic_alarm"></i></a>
			</nav>
		</div>
	</header>

	<div class="contents">
		<section class="topTabs">
			<ul class="tabsList">
				<li><a href="/page1">자율 장학금</a></li>
				<li class=""><a href="/page2-1">크라우드 펀딩</a></li>
				<li class="on"><a href="/page3">마이페이지</a></li>
			</ul>
		</section>
		<section class="donateHistory">
			<div class="headBox">
				<div class="profileBox">
					<div class="profileImgBox">
						<img src="../img/채온.jpg" alt="이미지">
					</div>
					<div class="profileNm">정채원</div>
					<div class="profileEmail">cwpink@g.skku.edu</div>
					<div class="donateMenuBox">
						<a href="#none" class="on">전체기부내역</a>
						<a href="#none" class="">내기부내역</a>
					</div>
				</div>
			</div>
			<div class="historyGroup">
				<div class="bgWrap">
					<div class="bgBox">
						<img src="../img/img_donateHistoryBg.png" alt="이미지">
					</div>
					<div class="box box-1"><div class="boxWrap"><span class="txt">1</span></div></div>
					<div class="box box-2"><div class="boxWrap"><span class="txt">2</span></div></div>
					<div class="box box-3"><div class="boxWrap"><span class="txt">3</span></div></div>
					<div class="box box-4"><div class="boxWrap"><span class="txt">4</span></div></div>

					<div class="box box-7"><div class="boxWrap"><span class="txt">7</span></div></div>
					<div class="box box-6"><div class="boxWrap"><span class="txt">6</span></div></div>
					<div class="box box-5"><div class="boxWrap"><span class="txt">5</span></div></div>

					<div class="box box-8 on"><div class="boxWrap"><span class="txt">8</span></div></div>
					<div class="box box-0 on my"><div class="boxWrap"><span class="txt my">MY</span></div></div>
					<div class="box box-9 on"><div class="boxWrap"><span class="txt">9</span></div></div>
					<div class="box box-10 on"><div class="boxWrap"><span class="txt">10</span></div></div>
				</div>


				<div class="menuBox">
					<a href="#none" class="menuBtn">로그아웃</a>
				</div>
		</section>
	</div>

</div>
<script src="../js/jquery-3.1.1.min.js"></script>

</body>
</html>