<!DOCTYPE html>
<html lang="ko">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	  content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
	<meta charset="UTF-8">
	<title>donate</title>
	<link type="text/css" rel="stylesheet" href="../css/reset.css"/>
	<link type="text/css" rel="stylesheet" href="../css/style.css"/>


</head>
<body>

<div class="container">
	<header>
		<div class="headerWrap">
			<h1 class="logo">
				<a href="/">
					<img src="../img/img_logo.png" alt="로고"/>
				</a>
			</h1>
			<nav>
				<a href="#none" class="searchBtn"><i class="ic ic_search"></i></a>
				<a href="#none" class="alarmBtn"><i class="ic ic_alarm"></i></a>
			</nav>
		</div>
	</header>

	<div class="contents">
		<section class="topTabs">
			<ul class="tabsList">
				<li><a href="/page1">자율 장학금</a></li>
				<li class="on"><a href="/page2-1">크라우드 펀딩</a></li>
				<li><a href="/page3">마이페이지</a></li>
			</ul>
		</section>
		<section class="funding">
			<div class="headBox">
				<div class="toggleBox">
					<div class="toggleBtnBox">
						<a href="/page2-1" class="col_blue">
							<span class="txt">개인</span>
						</a>
						<a href="/page2-2" class="on col_pink">
							<span class="txt">그룹</span>
						</a>
					</div>
				</div>
				</span>
				<span class="txt">블록체인의 대중화가 실현된 <br/>
사회를 꿈꿔요!</span>
				</span>
			</div>

			<div class="progressGroup">

				<div class="progressBox">

					<div class="progressBar col_pink">
						<div class="currentIcon" style="left:73%">
							<div class="currentIconWrap">
								<span class="txt">73%</span>
								<span class="ic ic_progress"></span>
							</div>
						</div>
						<div class="currentBar" style="width: 73%"></div>
					</div>
					<div class="fundingTxt">2,000,000</div>
				</div>

			</div>

			<div class="fundingGroup">
				<div class="imgBox">
					<img src="../img/skkrypto.png" alt="이미지">
				</div>
				<div class="conBox">
					<div class="labelBox">
						<span class="label col_blue">20년 05월 12일 마감</span>
					</div>
					<div class="titBox">학회 크라우드펀딩</div>
					<div class="textareaBox">
						블록체인의 대중화를 꿈꾸는 Skkrypto입니다!<br/>
						학회의 다양한 활동을 위한 지원금을 기부해주세요<br/>
					</div>
				</div>
			</div>

			<div class="menuBox">
				<div class="subMenuBox">
					<a href="#none" class="subMenuBtn col_pink">
						<div class="icBox">
							<span class="ic ic_recommend"></span>
						</div>
						<div class="subMenuBtnTxt">추천</div>
					</a>
					<a href="#none" class="subMenuBtn col_blue">
						<div class="icBox">
							<span class="ic ic_recommend"></span>
						</div>
						<div class="subMenuBtnTxt">후기/응원</div>
					</a>

				</div>

				<a href="javascript:openWindowPop('/donatep', 'popup');" class="menuBtn col_pink">기부하기</a>
			</div>
		</section>
	</div>

</div>
<script src="../js/jquery-3.1.1.min.js"></script>
<script src="../js/popup.js"></script>

</body>
</html>