.bg_type1 {
  background-color: #ffd83f; }

.bg_type2 {
  background-color: #eef4f4; }

.relative {
  position: relative; }

.inner {
  width: 1080px;
  margin: 0 auto; }

.mobile {
  display: none; }

label {
  display: inline-block;
  vertical-align: middle;
  line-height: 1; }

.clearfix:after {
  content: "";
  display: block;
  position: absolute; }

.ml10 {
  margin-left: 10px; }

.mt10 {
  margin-top: 10px; }

.mt30 {
  margin-top: 20px; }

.mt40 {
  margin-top: 40px; }

.pt10 {
  padding-top: 10px; }

.pt40 {
  padding-top: 40px; }

.ico {
  display: inline-block;
  vertical-align: middle;
  font-size: 0; }

article.paging {
  text-align: center;
  padding-top: 60px; }
  article.paging ul.pagingList {
    display: inline-block;
    vertical-align: middle;
    font-size: 0; }
    article.paging ul.pagingList li {
      display: inline-block;
      margin: 0 13px; }
      article.paging ul.pagingList li.on a {
        color: #e4007f;
        font-weight: 700; }
      article.paging ul.pagingList li a {
        display: inline-block;
        vertical-align: middle;
        font-size: 15px; }

.sbox {
  display: inline-block;
  vertical-align: middle;
  width: 110px;
  font-size: 15px; }
  .sbox.smaller {
    width: 60px; }
  .sbox select {
    width: 100%;
    height: 30px;
    padding: 0 5px;
    text-align: left;
    border: 1px solid #d2d2d2; }

table.form {
  border-top: 1px solid #3b3b3b; }
  table.form tr {
    border-bottom: 1px solid #d2d2d2; }
    table.form tr th {
      padding: 19px 33px;
      text-align: left;
      font-size: 14px; }
    table.form tr td {
      padding: 8px 0; }
      table.form tr td.left {
        text-align: left; }
      table.form tr td.center {
        text-align: center; }
      table.form tr td .box {
        font-size: 0; }
        table.form tr td .box .row + .row {
          margin-top: 10px; }
      table.form tr td .tbox {
        vertical-align: middle;
        height: 30px;
        border: 1px solid #d2d2d2;
        padding: 0 5px;
        width: 150px;
        font-size: 15px; }
        table.form tr td .tbox.small {
          width: 110px; }
        table.form tr td .tbox.smaller {
          width: 60px; }
        table.form tr td .tbox.long {
          width: 200px; }
      table.form tr td .unit {
        font-size: 15px;
        margin: 0 5px; }
    table.form tr .formBtn {
      background-color: #bfbfbf;
      font-weight: 700;
      color: #fff;
      line-height: 30px;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px; }

label.toggle {
  position: relative;
  height: 16px;
  cursor: pointer; }
  label.toggle input {
    display: none;
    cursor: pointer; }
    label.toggle input:checked ~ .handler {
      left: 14px;
      border-color: #ce2027;
      transition: left 0.3s ease-out; }
    label.toggle input:checked ~ .bg {
      background-color: #0b7af3; }
  label.toggle .handler {
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s ease-out;
    padding: 0;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    z-index: 10; }
  label.toggle .bg {
    position: relative;
    display: inline-block;
    background-color: #dddee0;
    border-radius: 8px;
    width: 28px;
    height: 16px;
    z-index: 9; }

.rbox {
  display: inline-block;
  position: relative; }
  .rbox input[type=radio] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    cursor: pointer; }
  .rbox input[type=radio] + label {
    position: relative;
    padding-left: 20px; }
    .rbox input[type=radio] + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 12px;
      height: 12px;
      display: inline-block;
      border: 1px solid #000;
      border-radius: 50%;
      background-color: #fff; }
    .rbox input[type=radio] + label .txt {
      font-size: 12px;
      display: inline-block;
      vertical-align: middle;
      line-height: 14px; }
  .rbox input[type=radio]:checked + label:before {
    background-color: #000; }

.amountBox {
  font-size: 0;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d2d2d2; }
  .amountBox .minus, .amountBox .plus {
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    width: 20px;
    height: 20px;
    position: relative; }
    .amountBox .minus .txt, .amountBox .plus .txt {
      color: #000;
      font-size: 14px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .amountBox .tbox {
    display: inline-block;
    vertical-align: middle;
    vertical-align: top;
    height: 18px;
    text-align: center;
    width: 40px;
    font-size: 12px;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2; }

.cbox {
  position: relative;
  display: inline-block;
  font-size: 0; }
  .cbox input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    cursor: pointer; }
  .cbox input[type=checkbox] + label.chk {
    position: relative;
    padding-left: 25px; }
    .cbox input[type=checkbox] + label.chk:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      display: inline-block;
      background: url(../img/ic_chk_off.png) no-repeat center/cover; }
  .cbox input[type=checkbox]:checked + label.chk:before {
    background: url(../img/ic_chk_on.png) no-repeat center/cover; }
  .cbox label.chk {
    position: relative;
    cursor: pointer; }
    .cbox label.chk .txt {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      line-height: 18px; }

.cbox {
  position: relative;
  display: inline-block;
  font-size: 0; }
  .cbox input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    cursor: pointer; }
  .cbox input[type=checkbox] + label.chk {
    position: relative;
    padding-left: 25px; }
    .cbox input[type=checkbox] + label.chk:before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 18px;
      height: 18px;
      display: inline-block;
      background: url(../img/ic_chk_off.png) no-repeat center/cover; }
  .cbox input[type=checkbox]:checked + label.chk:before {
    background: url(../img/ic_chk_on.png) no-repeat center/cover; }
  .cbox label.chk {
    position: relative;
    cursor: pointer; }
    .cbox label.chk .txt {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      line-height: 18px; }

label.check {
  cursor: pointer; }

label.chk {
  position: relative;
  cursor: pointer; }
  label.chk input[type=radio] {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 1px solid #656d9a;
    position: relative; }
    label.chk input[type=radio]:checked {
      background-color: #0b7af3;
      border-color: transparent; }
      label.chk input[type=radio]:checked:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        background: #fff; }

.sbox {
  position: relative;
  width: 150px; }
  .sbox.long {
    width: 200px; }
  .sbox.disabled .set {
    background-color: #f5f8fb;
    color: #b4bed6; }
  .sbox .set {
    line-height: 34px;
    padding: 0 24px 0 9px;
    border: 1px solid #ccc;
    width: 100%;
    background: #fff url(../img/ico_selectArrow.png) no-repeat right 9px center/7px 6px;
    border-radius: 4px;
    color: #656d9a;
    font-size: 14px; }
    .sbox .set.on {
      border-color: #0b7af3;
      color: #354556; }
  .sbox .set.on ~ .menuList {
    display: block; }
  .sbox .menuList {
    display: none;
    padding: 5px 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
    background-color: #fff;
    z-index: 101;
    border: 1px solid #0b7af3; }
    .sbox .menuList a {
      width: 100%;
      line-height: 33px;
      font-size: 14px;
      color: #354556;
      display: inline-block;
      padding: 0 13px; }

/*# sourceMappingURL=ui.css.map */